.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  background-color: black;
  font-size: 24px;
}

.logo {
  
  display: flex;
  align-items: center;
}

.logo-icon {
  color: white;
  margin: 0px 10px 0px 20px; 
}

.nav-list {
  display: none;
  list-style: none;
  background-color: darkgray;
  height: 91vh;
  min-width: 50vw;
  padding: 10px 10px 10px 10px;
}

.nav-list.active {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 40%;
  position: absolute;
  right: 0px;
  top: 9vh;
  text-align: center;
}

.fas {
  color: white;
  margin-right: 20px;
}

.caret {
  color: white;
}

.nav-link,
  .logo-link {
    color: white;
  }

.nav-link {
  font-size: 20px;
  text-align: center;
}

.tank-link {
  display: flex;
  text-align: center;
  align-items: center;
}

.nav-icon {
  display: flex;
  align-items: center;
}

#tank-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


@media only screen and (min-width: 768px) {

  .nav-list {
    display: flex;
    background-color: black;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: flex-end;
    width: 10%;
  }

  .nav-list.active {
    display: flex;
    flex-direction: row;
  }

  .nav-link {
    padding-right: 10px;
  }

  .nav-icon {
    display: none;
  }
}